* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(225, 100%, 98%);
	font-family: 'Red Hat Display', sans-serif;
}

.wrapper {
	max-width: 1440px;
	margin-right: auto;
	margin-left: auto;
}

.card {
	position: absolute;
	width: 370px;
	height: 570px;
	top: 50%;
	left: 50%;
	border-radius: 20px;
	transform: translate(-50%, -50%);
	background-color: white;
	overflow: hidden;
}

.top-card {
	height: 35%;
	background-image: url('/images/illustration-hero.svg');
	background-position: center;
	background-size: cover;
}

.bottom-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 30px;
}

.heading {
	margin: 8px;
	font-size: 24px;
	font-weight: 900;
}

.text {
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	color: hsl(224, 23%, 55%);
	margin: 5px 30px;
}

.plan {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	padding: 12px;
	width: 100%;
	height: 70px;
	border-radius: 10px;
	background-color: hsl(225, 100%, 98%);
	text-align: left;
}

.music-icon {
	position: relative;
}

img {
	position: absolute;
	width: 13%;
	left: 5%;
}

.plan-text {
	font-size: 16px;
}

.box-text {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 68%;
	right: 8%;
}

.change {
	font-size: 14px;
	cursor: pointer;
}
.change:hover {
	text-decoration: none;
	font-weight: bold;
	color: #766cf1;
}

.annual {
	font-weight: bold;
}

.price {
	font-weight: 500;
	font-size: 16px;
	color: hsl(224, 23%, 55%);
	margin-top: 3px;
}

.proceed-payment {
	width: 100%;
	height: 41px;
	margin-top: 20px;
	font-weight: bold;
	border: none;
	border-radius: 7px;
	background: hsl(245, 75%, 52%);
	color: white;
	cursor: pointer;
}

.proceed-payment:hover {
	background-color: #766cf1;
}

.cancel-order {
	width: 100%;
	height: 41px;
	margin-top: 10px;
	font-weight: bold;
	border: none;
	border-radius: 7px;
	color: hsl(224, 23%, 55%);
	background-color: transparent;
	cursor: pointer;
}

.cancel-order:hover {
	color: black;
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 400px;
	padding-top: 100px;
	background: hsl(225, 100%, 94%);
}

.curve {
	position: absolute;
	height: 250px;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.curve::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	transform: translate(85%, 60%);
	background-color: hsl(225, 100%, 98%);
}

.curve::after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	background-color: hsl(225, 100%, 94%);
	transform: translate(-4%, 40%);
	z-index: -1;
}

@media (max-width: 375px) {
	.card {
		/* height: 80vh; */
		width: 340px;
	}
}

@media (max-width: 320px) {
	.card {
		height: 500px;
		width: 300px;
	}
	.bottom-card {
		padding: 0;
		margin: 10px;
	}
	.top-card {
		height: 30%;
	}
}

@media (max-width: 280px) {
	.card {
		height: 460px;
		width: 250px;
	}
	.bottom-card {
		padding: 0;
		margin: 10px;
	}
	.top-card {
		height: 23%;
	}
	.text {
		margin: 2px;
	}
}
