* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    background: #3c31dd;

} */

body {
	background-color: hsl(225, 100%, 98%);
	font-family: 'Red Hat Display', sans-serif;
}

.wrapper {
	max-width: 1440px;
	margin-right: auto;
	margin-left: auto;
}

.card {
	position: absolute;
	width: 370px;
	height: 500px;
	top: 50%;
	left: 50%;
	border-radius: 20px;
	transform: translate(-50%, -50%);
	background-color: white;
	overflow: hidden;
}

.top-card {
	height: 35%;
	background-image: url('/images/illustration-hero.svg');
	background-position: center;
	background-size: cover;
}

.bottom-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 30px;
}

.heading {
	margin: 20px;
	font-size: 24px;
	font-weight: 900;
}

.text {
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	color: hsl(224, 23%, 55%);
	margin: 0 30px;
}

.plan {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	padding: 12px;
	width: 100%;
	height: 70px;
	border-radius: 10px;
	background-color: hsl(225, 100%, 98%);
	text-align: left;
}

.music-icon {
	position: relative;
}

img {
	position: absolute;
	width: 13%;
	left: 5%;
}

.plan-text {
	font-size: 16px;
}

.box-text {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 68%;
	right: 8%;
}

.change {
	font-size: 14px;
}

.annual {
	font-weight: bold;
}

.price {
	font-weight: 500;
	font-size: 16px;
	color: hsl(224, 23%, 55%);
	margin-top: 3px;
}

.proceed-payment {
	width: 100%;
    height: 40px;
    border-radius: 3px;
}

.cancel-order {
	width: 100%;
    height: 30px;
    border-radius: 3px;
}





section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 400px;
	padding-top: 100px;
	background: hsl(225, 100%, 94%);
}

.curve {
	position: absolute;
	height: 250px;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.curve::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	transform: translate(85%, 60%);
	background-color: hsl(225, 100%, 98%);
}

.curve::after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
	width: 55%;
	height: 100%;
	background-color: hsl(225, 100%, 94%);
	transform: translate(-4%, 40%);
	z-index: -1;
}
